.navbar {
    display: flex;
    background: #B8D8B9;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
}

    .navbar a {
        display: inline-block;
        width: 100px;
        height: 40px;
        background: white;
        color: black;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        outline: 2px solid black;
    }

        .navbar a:hover {
            transition: background 0.5s ease;
            background: #f2f2f2;
            outline: 2px solid #4CAF50;
        }
